{
    "secret_key": "$2a$10$thJkrRrcQasdfasdfYOe.zYdfasdfyMPsS.XaDujB.PscnT9mdmVS5FoardLhsXAfC",
    "collection_id": "5b8d5b8ddb948adsfadsfc68635bfe21",
    "bin_id": "5b8d748dfasdfe3ffac56adsfadsfaf4bd99954"
}